* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #dbe4e6;
  padding: 10px;
}

.main-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 10px;
  margin: 100px auto;
  border-radius: 10px;
  background: #036b77;
  box-shadow: 0 2px 2px 1px #1a1818;
}

h1 {
  margin-bottom: 40px;
  font-size: 40px;
  color: #f2f2f2;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000,
    0 0 5px #000, 0 0 10px #000, 0 0 5px #000, 0 0 10px #000;
}

.btn {
  border-radius: 17px;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  color: #505050;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: inset 1px 1px 5px #363636, 1px 1px 4px #000;
}

.btn:active {
  transform: scale(0.96);
}

.game-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background: #453939; */
  border-radius: 10px;
}

.choose-dice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: #064c54 solid 2px;
  background: #080808;
  border-radius: 10px;
  padding: 20px;
}

.dice-img-left {
  width: 70px;
  height: 70px;
  filter: drop-shadow(0 0 2px #000);
}

.dice-container {
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #000; */
  gap: 20px;
}

.dice-img {
  width: 150px;
  filter: drop-shadow(0 2px 5px #000);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  12.5% {
    transform: rotate(90deg);
  }

  25% {
    transform: rotate(180deg);
  }

  37.5% {
    transform: rotate(270deg);
  }

  50% {
    transform: rotate(360deg);
  }

  62.5% {
    transform: rotate(450deg);
  }

  75% {
    transform: rotate(540deg);
  }

  87.5% {
    transform: rotate(630deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

.animation {
  animation: rotate 0.5s ease-in-out;
}

#score {
  font-size: 30px;
  font-weight: bold;
  color: #e3e3e3;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  font-size: 14px;
  color: #000;
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
}

.github-icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
}
