.main-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  background: #bbb2b2;
  box-shadow: 0 0 5px 1px #1a1818;
}

.btn {
  border-radius: 17px;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  color: #505050;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: inset 1px 1px 5px #666, 1px 1px 5px #666262;
}

.btn:active {
  transform: scale(0.96);
}

.game-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background: #453939; */
  border-radius: 10px;
}

.choose-dice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  gap: 50px;
}

.dice-img-left {
  width: 70px;
  height: 70px;
}

.dice-container {
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #000; */
  gap: 20px;
}

.dice-img {
  width: 150px;
  filter: drop-shadow(0 2px 5px #000);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  12.5% {
    transform: rotate(90deg);
  }

  25% {
    transform: rotate(180deg);
  }

  37.5% {
    transform: rotate(270deg);
  }

  50% {
    transform: rotate(360deg);
  }

  62.5% {
    transform: rotate(450deg);
  }

  75% {
    transform: rotate(540deg);
  }

  87.5% {
    transform: rotate(630deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

.animation {
  animation: rotate 0.5s ease-in-out;
}

#score {
  font-size: 30px;
  font-weight: bold;
  color: #201e1e;
}
